@import "../../global.scss";

.skillsList {
  font-size: calc(18px + 0.5vw);
  transition: all 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: #7981da;
    color: $mainColor;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: $mainColor;
    transition: all 0.3s ease;
  }
}
