@import "../../global.scss";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 80px;
  padding-left: 0;

  h1 {
    font-size: calc(35px + 0.5vw);
  }

  ul {
    margin: 10px;
    padding-top: 50px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 50px;

    .item {
      display: flex;
      width: calc(30px + 1vw);
      height: calc(150px + 1vw);
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 30px calc(15px + 2vw) 0 calc(15px + 2vw);

      .icon {
        font-size: calc(40px + 0.5vw);
        padding-bottom: 20px;
        &:hover {
          font-size: 80px;
          transition: all 0.5s ease;
        }
      }

      h3 {
        font-size: calc(12px + 0.5vw);
      }
      h5 {
        font-size: calc(8px + 0.5vw);
      }
    }
  }
  .bg {
    flex-grow: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .wave {
    background-image: url("../../images/wave-bg.svg");
  }
}

@media screen and (max-width: 765px) {
  .skills {
    padding-top: 30px;
    h1 {
      font-size: 35px;
    }
    ul {
      padding-top: 20px;
      li {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .container {
      padding-top: 20px;
      .item {
        .icon {
          width: 45px;

          h3 {
            font-size: 15px;
          }
        }
      }
    }
    .bg {
      background-position-y: -25px;
      .wave {
        background-image: url("../../images/wave-bg-tablet.png");
      }
    }
  }
}

// @media screen and (max-width: 1405px) {
//   .skills {
//     ul {
//       padding-top: 30px;

//       li {
//         font-size: 18px;
//         padding: 18px;
//       }
//     }
//     .container {
//       .item {
//         width: 70px;
//       }
//     }
//   }
// }
