@import "../../global.scss";

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: calc(20px + 1vh);
  padding-left: 0;

  h1 {
    font-size: calc(35px + 1vw);
    margin-top: 70px;
  }

  ul {
    margin: 10px;
    padding-top: calc(60px + 1vh);
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;

    li {
      border: 3px solid transparent;
      font-size: calc(15px + 0.5vw);
      margin: 0 50px;
      padding: calc(15px + 0.5vh);
      transition: all 0.3s ease;
      cursor: pointer;

      &.active {
        background-color: #7981da;
        color: $mainColor;
        font-weight: 500;
      }
      &:hover {
        border: 3px solid white;
        background: none;
        color: white;
        transition: all 0.3s ease;
      }
    }
  }

  .container {
    width: 90%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: calc(10px + 1vh);

    .item {
      display: flex;
      width: calc(35px + 1vw);
      height: calc(140px + 1vh);
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: calc(10px + 1vh) calc(30px + 1vw) 0 calc(30px + 1vw);

      .icon {
        font-size: calc(40px + 0.5vw);
        padding-bottom: 20px;
        &:hover {
          font-size: calc(50px + 0.5vw);
          transition: all 0.5s ease;
        }
      }

      h3 {
        font-size: calc(12px + 0.5vw);
      }
      h5 {
        font-size: calc(7px + 0.5vw);
        text-align: center;
      }
    }
  }
  .bg {
    flex-grow: 1;
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-size: cover;
    overflow: hidden;
  }

  .wave {
    background-image: url("../../images/wave-bg.svg");
  }
}

@media screen and (max-width: 765px) {
  .skills {
    padding-top: 70px;
    h1 {
      font-size: 35px;
    }
    ul {
      padding-top: 70px;
      justify-content: space-around;
      width: 90%;
      margin: 0 10px;
      li {
        margin: 0;
        font-size: 18px;
        padding: 10px 15px;
        flex-grow: 1;
        text-align: center;
      }
    }
    .container {
      padding-top: 50px;
      .item {
        .icon {
          width: 45px;

          h3 {
            font-size: 15px;
          }
        }
      }
    }
    .bg {
      background-position-y: -20px;
      .wave {
        background-image: url("../../images/wave-bg-tablet.svg");
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .skills {
    padding-top: calc(20px + 2vh);
    ul {
      padding-top: calc(20px + 2vh);
    }
  }
}

@media screen and (max-width: 455px) {
  .skills {
    ul {
      padding-top: 20px;
    }
    .container {
      .item {
        height: 110px;
        .icon {
          padding-bottom: 5px;
        }
        h5 {
          font-size: 8px;
        }
      }
    }
    .bg {
      .wave {
        background-image: url("../../images/wave-bg-phone.svg");
      }
    }
  }
}

@media screen and (max-width: 275px) {
  .skills {
    padding-top: 15px;
    h1 {
      font-size: 30px;
    }
    ul {
      padding-top: 30px;
    }
    .container {
      flex-grow: 1;
      padding-top: 10px;
      .item {
        padding-top: 7px;
        height: 100px;
      }
    }
    .bg {
      display: none;
    }
  }
}
