@import "../../global.scss";

.contact {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @include iPadAir {
    background-image: url("../../images/contact-blue.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include iPadAir {
      padding-top: 45px;
      background-color: rgba(0, 0, 0, 0.557);
    }

    h2 {
      font-size: 50px;
      padding-bottom: 3vh;

      @include iPadAir {
        font-size: 40px;
      }

      @include nestHub {
        font-size: 30px;
      }
    }

    form {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      caret-color: #ff06fb;

      @include mobile {
        width: 80%;
      }

      input {
        width: 100%;
        padding: 5px 10px;
        margin: 5px 0;
        font-size: 15px;
        border-radius: 3px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.331) inset;
        box-sizing: border-box;

        @include mobile {
          padding: 10px;
        }

        &:focus {
          outline: 3px ridge #b7b8ff;
        }

        &::-moz-selection {
          /* Code for Firefox */
          background: #b7b8ff;
        }

        &::selection {
          background: #b7b8ff;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7981da;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #7981da;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #7981da;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #7981da;
        }
      }

      textarea {
        width: 100%;
        height: 200px;
        padding: 10px;
        margin: 5px 5px;
        font-size: 15px;
        border: none;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.331) inset;
        resize: none;
        box-sizing: border-box;

        @include mobile {
          height: 30vh;
        }

        &:focus {
          outline: 3px ridge #b7b8ff;
        }

        &::-moz-selection {
          /* Code for Firefox */
          background: #b7b8ff;
        }

        &::selection {
          background: #b7b8ff;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7981da;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #7981da;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #7981da;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #7981da;
        }
      }

      button {
        width: 100px;
        align-self: flex-end;
        color: white;
        margin: 5px 0;
        padding: 5px;
        background-color: #6052b3;
        border: 2px solid #6052b3;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;

        @include iPadAir {
          align-self: center;
          width: 100%;
        }

        &:hover {
          background-color: #42387b;
        }

        &:focus {
          outline: none;
          border: 2px solid #ffffff;
        }
      }
    }

    .link-container {
      margin-top: 30px;
      background-color: #c4bdf3c4;
      padding: 0 5px;
      border-radius: 5px;

      .link {
        display: flex;
        align-items: center;
        padding: 5px 0;

        .icon {
          margin-right: 10px;
          font-size: 20px;
          color: black;
        }

        a {
          margin-left: 3px;
          padding: 2px 5px;
          text-decoration: none;
          border-radius: 2px;
          display: flex;
          align-items: center;
          font-size: 15px;
          color: black;

          &:hover {
            background-color: #b7b8ff;
            cursor: pointer;
          }

          .link-content {
            @include mobile {
              display: none;
            }
          }
        }
      }
    }
  }
  .image {
    flex: 1;
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include tablet {
      display: none;
    }

    @include iPadAir {
      display: none;
    }
  }
}
