@import "../../global.scss";

.contact {
  color: white;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    background-image: url("../../images/contact-blue.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include iPadAir {
    background-image: url("../../images/contact-blue.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .left {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

    @include tablet {
      background-color: rgba(0, 0, 0, 0.557);
      height: 70%;
    }
    @include iPadAir {
      background-color: rgba(0, 0, 0, 0.557);
      height: 70%;
    }

    h2 {
      font-size: 30px;

      @include tablet {
        position: relative;
        top: calc(100px + 2vh);
      }
      @include iPadAir {
        position: relative;
        top: calc(100px + 2vh);
        font-size: 40px;
      }
      @include mobile {
        position: relative;
        top: 60px;
        font-size: 25px;
      }
      @include galaxyFold {
        font-size: 20px;
      }
      @include iPhoneSE {
        top: 40px;
      }
      @include nestHub {
        top: 20px;
        font-size: 30px;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      caret-color: #ff06fb;

      @include tablet {
        width: 100%;
        height: 90%;
        justify-content: center;
      }

      @include iPadAir {
        width: 100%;
        height: 90%;
        justify-content: center;
      }

      input {
        width: 70%;
        height: 25px;
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.331) inset;

        @include tablet {
          width: 75%;
          margin-bottom: 10px;
        }
        @include iPadAir {
          width: 75%;
          margin-bottom: 10px;
        }

        &:focus {
          outline: 4px ridge #b7b8ff;
        }

        &::-moz-selection {
          /* Code for Firefox */
          background: #b7b8ff;
        }

        &::selection {
          background: #b7b8ff;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7981da;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #7981da;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #7981da;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #7981da;
        }
      }

      textarea {
        width: 70%;
        height: 200px;
        padding: 10px;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.331) inset;
        resize: none;

        @include tablet {
          width: 75%;
          margin-bottom: 10px;
        }
        @include iPadAir {
          width: 75%;
          margin-bottom: 10px;
        }

        &:focus {
          outline: 4px ridge #b7b8ff;
        }

        &::-moz-selection {
          /* Code for Firefox */
          background: #b7b8ff;
        }

        &::selection {
          background: #b7b8ff;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #7981da;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #7981da;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #7981da;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: #7981da;
        }
      }

      button {
        width: 200px;
        height: 45px;
        color: white;
        background-color: #6052b3;
        border: 2px solid #6052b3;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        @include tablet {
          width: 75%;
        }
        @include iPadAir {
          width: 75%;
        }

        &:hover {
          background-color: #42387b;
        }

        &:focus {
          outline: none;
          border: 2px solid #ffffff;
        }
      }
    }
  }
  .right {
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    img {
      width: 100%;
      object-fit: contain;
    }

    @include tablet {
      display: none;
    }

    @include iPadAir {
      display: none;
    }
  }
}
