@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  background-color: #2a315b;
  color: $lightMainColor;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  z-index: 3;

  .wrapper {
    padding: 10px 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .name-logo {
        display: flex;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 5px;
        margin-right: 20px;

        .logo--first {
          color: #f5f5ff;
        }

        .logo--last {
          color: #d090d6;
          font-size: 35px;
        }
      }

      .item-container {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
          text-decoration: none;
          color: $lightMainColor;

          .icon {
            font-size: 18px;
            padding-right: 5px;
            color: white;
            transition: all 0.5s ease;
          }

          span {
            font-size: 15px;
            font-weight: 400;
          }
        }
      }
    }

    .right {
      .menu-icon {
        font-size: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
      }
    }
  }

  &.active {
    background-color: $lightMainColor;
    color: $mainColor;
    transition: all 0.5s ease;
    .left {
      .name-logo {
        .logo--first {
          color: #000001;
          transition: all 0.5s ease;
        }
        .logo--last {
          color: #7981da;
          transition: all 0.5s ease;
        }
      }
      .item-container {
        a {
          text-decoration: none;
          color: $mainColor;
          .icon {
            color: #000001;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
}
