@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  color: $lightMainColor;
  position: fixed;
  top: 0;
  z-index: 3;

  .wrapper {
    padding: 10px 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .name-logo {
        display: flex;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        margin-top: 5px;
        margin-right: 20px;

        .logo--first {
          color: #f5f5ff;
        }

        .logo--last {
          color: #9fafff;
          font-size: 35px;
        }
      }

      .item-container {
        display: flex;
        align-items: center;
        padding-left: 20px;

        a {
          text-decoration: none;
          color: $lightMainColor;

          .icon {
            font-size: 18px;
            padding-right: 5px;
            color: white;
            transition: all 0.5s ease;
          }
        }
      }
    }

    .right {
      .menu-icon {
        font-size: calc(20px + 1vw);
        cursor: pointer;
        transition: all 0.5s ease;
      }
    }
  }

  &.active {
    //   background-color: $lightMainColor;
    color: $mainColor;
    transition: all 0.2s ease;
    //   .left {
    //     .name-logo {
    //       .logo--first {
    //         color: #000001;
    //         transition: all 0.5s ease;
    //       }
    //       .logo--last {
    //         color: #7981da;
    //         transition: all 0.5s ease;
    //       }
    //     }
    //     .item-container {
    //       a {
    //         text-decoration: none;
    //         color: $mainColor;
    //         .icon {
    //           color: #000001;
    //           transition: all 0.5s ease;
    //         }
    //       }
    //     }
    //   }
  }
}
@media screen and (max-width: 440px) {
  .navbar {
    height: 50px;
    width: 100vw;
    transition: none;
    .wrapper {
      height: 30px;
      padding: 10px 10px;
      .left {
        .name-logo {
          font-size: 18px;
          font-weight: 500;
          margin-right: 0;

          .logo--last {
            font-size: 25px;
          }
        }

        .item-container {
          padding-left: 17px;
          a {
            .icon {
              font-size: 15px;
            }
          }
        }
      }
      .right {
        .menu-icon {
          transition: none;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .navbar {
    .wrapper {
      .left {
        .item-container {
          padding-left: 10px;
        }
      }
    }
  }
}
