@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  background-color: $mainColor;
  color: white;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  z-index: 2;

  .wrapper {
    padding: 10px 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .name-logo {
        display: flex;
        font-size: 40px;
        font-weight: 600;
        text-decoration: none;
        margin-right: 20px;

        .logo--first {
          color: #f5f5ff;
        }

        .logo--last {
          color: #b7b8ff;
          font-size: 45px;
        }
      }

      .item-container {
        display: flex;
        align-items: center;
        padding-left: 20px;

        .icon {
          font-size: 18px;
          padding-right: 5px;
          color: white;
          transition: all 0.5s ease;
        }

        span {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }

    .right {
      .menu-icon {
        font-size: 30px;
        cursor: pointer;
        transition: all 0.5s ease;
      }
    }
  }

  &.active {
    background-color: #f5f5ff;
    color: $mainColor;
    transition: all 0.5s ease;
    .left {
      .name-logo {
        .logo--first {
          color: #000001;
          transition: all 0.5s ease;
        }
        .logo--last {
          color: #7981da;
          transition: all 0.5s ease;
        }
      }
      .item-container {
        .icon {
          color: #000001;
          transition: all 0.5s ease;
        }
      }
    }
  }
}
