$mainColor: #1b2442;
$lightMainColor: #f5f5ff;
$lightMainColorTransparent: #f5f5ffc3;

$tabletWidth: 800px;
$mobileWidth: 625px;
$foldWidth: 285px;
$foldHeight: 655px;

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}

@mixin galaxyFold {
  @media (max-width: #{$foldWidth}) and (max-height: #{$foldHeight}) {
    @content;
  }
}
