$mainColor: #1b2442;
$lightMainColor: #f5f5ff;
$lightMainColorTransparent: #f5f5ffc3;

// .color1 {color: #000001;}
// .color2 {color: #1b2442;}
// .color3 {color: #454f89;}
// .color4 {color: #7981da;}
// .color5 {color: #b7b8ff;}
