.swipe-scroll {
  height: 70px;
  width: 100%;
  background: none;
  position: fixed;
  z-index: 2;
  top: 93%;
  transition: all 0.5s ease;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: transparent;
    font-size: 12px;

    &:hover {
      color: white;
      transition: all 0.5s ease;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .swipe-scroll {
    .wrapper {
      font-size: 15px;
    }
  }
}

@media screen and (max-height: 450px) {
  .swipe-scroll {
    height: 80px;
    top: 90%;
  }
}
